In [8]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [9]:
# import data set
ords_custs_merged= pd.read_pickle(r'C:\Users\mateu\Desktop\Master_Folder\02 Data\Prepared Data\ords_prods_customers_merged_')

In [3]:
# check
pd.options.display.max_columns = None
ords_custs_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,Busiest_period_of_day,max_order,loyalty_flag,spending,spending_flag,frequency,frequency_flag,first_name,Surname,Gender,State,Age,date_joined,Number_of_dependants,fam_status,income,day_of_week
0,2539329,1,1,2,8,NaN,True,196,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday
1,2539329,1,1,2,8,NaN,True,14084,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday
2,2539329,1,1,2,8,NaN,True,12427,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both,NaN,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday
3,2539329,1,1,2,8,NaN,True,26088,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,NaN,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday
4,2539329,1,1,2,8,NaN,True,26405,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,NaN,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday

In [4]:
# data check
ords_custs_merged.shape

(32641268, 35)

# Question 2.
### Consider any security implications that might exist for this new data.
### You’ll need to address any PII data in the data before continuing your analysis.¶

In this data set you can find columns with first names and surnames of customers. For the sake of their security and privacy, you also need sensitive data.

In [11]:
# creating new data set without column: first_names
ords_custs_merged_2 = ords_custs_merged.drop (columns = ['first_name'])

In [12]:
# creating new data set without column surname
ords_custs_merged_2 = ords_custs_merged_2.drop (columns =['Surname'])
# it takes to long, I will leave it like it is

KeyboardInterrupt:

In [14]:
# checking the result
ords_custs_merged_2.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,Busiest_period_of_day,max_order,loyalty_flag,spending,spending_flag,frequency,frequency_flag,Surname,Gender,State,Age,date_joined,Number_of_dependants,fam_status,income,day_of_week
0,2539329,1,1,2,8,NaN,True,196,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday
1,2539329,1,1,2,8,NaN,True,14084,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday
2,2539329,1,1,2,8,NaN,True,12427,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both,NaN,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday
3,2539329,1,1,2,8,NaN,True,26088,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,NaN,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday
4,2539329,1,1,2,8,NaN,True,26405,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,NaN,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday

# Question 3
## The Instacart officers are interested in comparing customer behavior in different geographic areas.

## Create a regional segmentation of the data.

## You’ll need to create a “Region” column based on the “State” column from your customers data set.

### Creating Regions

Use the region information in this Wikipedia article to create your column (you only need to create regions, not divisions).

In [15]:
# check state column
ords_custs_merged_2['State'].value_counts(dropna = False)

Pennsylvania            671781
California              664472
Rhode Island            661705
Georgia                 661136
New Mexico              659231
Arizona                 658597
North Carolina          656372
Oklahoma                656318
Alaska                  653070
Minnesota               652467
Massachusetts           651063
Wyoming                 648970
Virginia                646146
Missouri                645366
Texas                   645094
Colorado                643864
Maine                   643218
North Dakota            643040
Alabama                 642694
Louisiana               642222
Kansas                  642064
Delaware                641521
South Carolina          641466
Oregon                  641009
Arkansas                640781
New York                640750
Nevada                  640740
Montana                 639881
South Dakota            638405
Illinois                637520
Hawaii                  637490
Washington              637488
Mississippi             637173
Kentucky                636998
Michigan                635680
Florida                 633675
Ohio                    633059
Wisconsin               632633
New Jersey              632346
Indiana                 631835
Maryland                631316
Nebraska                630337
Iowa                    630129
Connecticut             627638
Tennessee               622448
New Hampshire           620019
District of Columbia    618378
West Virginia           616981
Utah                    616515
Vermont                 616312
Idaho                   611855
Name: State, dtype: int64

In [16]:
# Creating a list of regions
region = []
for value in ords_custs_merged_2 ['State']:
 
    if (value in ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']):
        region.append('Northeast')
    elif (value in ['Wisconsin', 'Michigan', 'Illinois', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Minnesota', 'Iowa', 'Missouri']):
        region.append('Midwest')
    elif (value in ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']):
        region.append('South')
    else:
        region.append('West')

In [17]:
# check

region

['South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 ...]

In [18]:
# adding new region column to data frame
ords_custs_merged_2 ['region'] = region

In [19]:
ords_custs_merged_2.shape

(32641268, 35)

In [20]:
# two columns has been removed, one has been added

### Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)

In [23]:
# crosstab
crosstab = pd.crosstab(ords_custs_merged_2['region'], ords_custs_merged_2['spending_flag'], dropna = False)

In [24]:
crosstab

spending_flag  High Spender  Low Spender
region
Midwest              128814      6249822
Northeast            109159      5655673
South                211695     10659024
West                 190367      9436714

In [25]:
# summing the resoults
Midwest=(127656+6204849)
Northeast =(108225+ 5614511)
South = (209691+10582194)
West = (188673+9369060)

In [26]:
Midwest, Northeast, South, West

(6332505, 5722736, 10791885, 9557733)

In [27]:
# The largest amount of money is spent in the south region, but this could be due to the high population. 
# It is worth checking the percentage of people from the high spender group

In [28]:
#checking how many High Speneders are in regons
Midwest_2 = (127656/(127656+6204849))*100
Northeast_2 = (108225/(108225+5614511))*100
South_2 = (209691/(209691+10582194))*100
West_2 = (188673/(188673+9369060))*100

In [29]:
Midwest_2, Northeast_2, South_2, West_2

(2.0158847091316945,
 1.8911408808653762,
 1.9430433144904713,
 1.9740350562209679)

In [30]:
# The number of people from the High spender group in different states does not differ significantly

# Question 4
### The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app.
### Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

In [32]:
# Creating low activity flag, less than 5
ords_custs_merged_2.loc[ords_custs_merged_2['max_order'] < 5, 'activity_flag'] = 'Low activity'

In [33]:
ords_custs_merged_2.loc[ords_custs_merged_2['max_order']>= 5,  'activity_flag'] = 'Normal activity'

In [34]:
ords_custs_merged_2.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,Busiest_period_of_day,max_order,loyalty_flag,spending,spending_flag,frequency,frequency_flag,Surname,Gender,State,Age,date_joined,Number_of_dependants,fam_status,income,day_of_week,region,activity_flag
0,2539329,1,1,2,8,NaN,True,196,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday,South,Normal activity
1,2539329,1,1,2,8,NaN,True,14084,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday,South,Normal activity
2,2539329,1,1,2,8,NaN,True,12427,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both,NaN,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday,South,Normal activity
3,2539329,1,1,2,8,NaN,True,26088,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,NaN,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday,South,Normal activity
4,2539329,1,1,2,8,NaN,True,26405,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,NaN,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday,South,Normal activity

# Question 5.
## Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents.
### You might also use the “orders_day_of_the_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles.
### (Hint: As an example, try thinking of what characteristics would lead you to the profile “Single adult” or “Young parent.”)

In [35]:
# Checking age of customers

ords_custs_merged_2['Age'].value_counts().sort_index()

18    504085
19    523536
20    506558
21    516217
22    517624
       ...
77    505908
78    498941
79    533539
80    518854
81    513068
Name: Age, Length: 64, dtype: int64

In [36]:
# redistibuting age of customers
Age_distribution = []

for value in ords_custs_merged_2['Age']:
    if (value >=18) and (value <=25):
        Age_distribution.append('Age_18-25')
    elif (value >=26) and (value <=41):
        Age_distribution.append('Age_26-41')
    elif (value >=42) and (value <=57):
        Age_distribution.append('Age_42-57')
    elif (value >=58):
        Age_distribution.append('Age_58>')

In [37]:
# adding new column
ords_custs_merged_2['Age_distribution'] = Age_distribution

In [38]:
# checking
ords_custs_merged_2['Age_distribution'].value_counts(dropna = False)

Age_58>      12160524
Age_42-57     8247085
Age_26-41     8158836
Age_18-25     4074823
Name: Age_distribution, dtype: int64

In [39]:
# grouping income
income_group = []
for value in ords_custs_merged_2 ['income']:
    if (value < 32000):
        income_group.append(' <32K')
    elif (value >= 32000) and (value <= 53000):
        income_group.append('32K-53K')
    elif (value > 53000) and (value <= 107000):
        income_group.append('53K-107K')
    elif (value > 107000) and (value <=374000):
        income_group.append('107K-374K')
    else:
        income_group.append('>374K')

In [40]:
# adding new column with income
ords_custs_merged_2['income_group'] = income_group

In [41]:
# checking the resoult
ords_custs_merged_2.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,Busiest_period_of_day,max_order,loyalty_flag,spending,spending_flag,frequency,frequency_flag,Surname,Gender,State,Age,date_joined,Number_of_dependants,fam_status,income,day_of_week,region,activity_flag,Age_distribution,income_group
0,2539329,1,1,2,8,NaN,True,196,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday,South,Normal activity,Age_26-41,32K-53K
1,2539329,1,1,2,8,NaN,True,14084,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday,South,Normal activity,Age_26-41,32K-53K
2,2539329,1,1,2,8,NaN,True,12427,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both,NaN,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday,South,Normal activity,Age_26-41,32K-53K
3,2539329,1,1,2,8,NaN,True,26088,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,NaN,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday,South,Normal activity,Age_26-41,32K-53K
4,2539329,1,1,2,8,NaN,True,26405,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,NaN,Regularly busy,Regularly busy,Average_orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,Monday,South,Normal activity,Age_26-41,32K-53K

In [ ]:
# saving
ords_custs_merged_2.to_pickle(r'C:\Users\mateu\Desktop\Master_Folder\02 Data\Prepared Data\ords_prods_customers_merged_2.pkl')